<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Gestion des salariés</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="./static/font-awesome.css">
</head>
<body>
<div th:include="common.html"></div>


<div class="container">
    <div th:text="#{msg.salarie}"></div><!-- TODO better messages example -->

    <h2>Détail du salarié</h2>
    
    <form id="saveForm" action="http://localhost:8080/salaries/save" method="post" class="row">

        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" for="id" th:hidden="${nom == ''} ?: 'hidden'">ID</label>
                <input type="text" th:hidden="${nom == ''} ?: 'hidden'" th:value="${id}" class="form-control" name="id" id="id" disabled="true">

                <label class="form-control-label" for="nom">Nom</label>
                <input type="text" th:value="${nom}" class="form-control" name="nom" id="nom" th:disabled="${nom != ''} ?: 'true'">

                <label class="form-control-label" for="nom">moisEnCours</label>
                <input type="date" th:value="${moisEnCours}" class="form-control" name="moisEnCours" th:disabled="${moisEnCours != ''} ?: 'true'"
                       id="moisEnCours">

                <label class="form-control-label" for="nom">moisDebutContrat</label>
                <input type="date" th:value="${moisDebutContrat}" class="form-control" name="moisDebutContrat" id="moisDebutContrat" th:disabled="${moisDebutContrat != ''} ?: 'true'">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">

                <div>
                    <label class="form-control-label" for="nom">joursTravaillesAnneeN</label>
                    <div class="input-group">
                        <input type="number" step="0.5" th:value="${joursTravaillesAnneeN}" class="form-control" name="joursTravaillesAnneeN" id="joursTravaillesAnneeN" th:disabled="${joursTravaillesAnneeN != ''} ?: 'true'">
                        <div class="input-group-append">
                            <span class="input-group-text">j</span>
                        </div>
                    </div>
                </div>

                <div>
                    <label class="form-control-label" for="nom">congesPayesAcquisAnneeN</label>
                    <div class="input-group">
                        <input type="number" step="0.5" th:value="${congesPayesAcquisAnneeN}" class="form-control" name="congesPayesAcquisAnneeN" id="congesPayesAcquisAnneeN" th:disabled="${congesPayesAcquisAnneeN != ''} ?: 'true'">
                    <div class="input-group-append">
                        <span class="input-group-text">j</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        

        <div class="col-lg-6">
            <div>
                <label class="form-control-label" for="nom">joursTravaillesAnneeNMoins1</label>
                <div class="input-group">
                    <input type="number" step="0.5" th:value="${joursTravaillesAnneeNMoins1}" class="form-control" name="joursTravaillesAnneeNMoins1" id="joursTravaillesAnneeNMoins1" th:disabled="${joursTravaillesAnneeNMoins1 != ''} ?: 'true'">
                    <div class="input-group-append">
                        <span class="input-group-text">j</span>
                    </div>
                </div>
            </div>

            <div>
                <label class="form-control-label" for="nom">congesPayesAcquisAnneeNMoins1</label>
                <div class="input-group">
                    <input type="number" step="0.5" th:value="${congesPayesAcquisAnneeNMoins1}" class="form-control" name="congesPayesAcquisAnneeNMoins1" id="congesPayesAcquisAnneeNMoins1" th:disabled="${congesPayesAcquisAnneeNMoins1 != ''} ?: 'true'">
                    <div class="input-group-append">
                        <span class="input-group-text">j</span>
                    </div>
                </div>
            </div>

            <div>
                <label class="form-control-label" for="nom">congesPayesPrisAnneeNMoins1</label>
                <div class="input-group">
                    <input type="number" step="0.5" th:value="${congesPayesPrisAnneeNMoins1}" class="form-control" name="congesPayesPrisAnneeNMoins1" id="congesPayesPrisAnneeNMoins1" th:disabled="${congesPayesPrisAnneeNMoins1 != ''} ?: 'true'">
                    <div class="input-group-append">
                        <span class="input-group-text">j</span>
                    </div>
                </div>
            </div>
        </div>

        
    </form>
    
    <div class="row" hidden>
        <div class="col-lg-6">
            <ul class="list-group list-unstyled">
                <li class="alert alert-danger" role="alert">Erreur dans un champ !</li>
            </ul>
        </div>
    </div>
    <div class="row mt-2" >
        <div class="col-lg-6">
            <input th:hidden="${nom != ''} ?: 'hidden'" form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer">
            <a th:hidden="${nom == ''} ?: 'hidden'" th:href="@{'/salaries/' + ${id} + '/delete'}" class="btn btn-danger">Supprimer</a>
        </div>
    </div>

    <div class="row" hidden>
    <table>
        <tr><td class="alert alert-danger" role="alert">Erreur de type de données !</td></tr>
    </table>
    <div>Erreur globale spécifique !</div>
    </div>
</div>


</body></html>